global
    log /dev/log local0
    log /dev/log local1 notice
    daemon
    maxconn {{ max_connections | default(60000) }}

defaults
    log     global
    mode    tcp
    option  tcplog
    option  tcp-check
    timeout connect 5s
    timeout client  50s
    timeout server  50s

{% if frontends %}{% for frontend_name, frontend in frontends.items() %}
frontend {{ frontend_name }}
    bind {{ frontend.bind }}{% if frontend.mode %}
    mode {{ frontend.mode }}{% endif %}
    default_backend {{ frontend.default_backend }}
{% endfor %}{% endif %}

{% for backend_name, backend in backends.items() %}
backend {{ backend_name }}{% if backend.mode %}
    mode {{ backend.mode }}{% endif %}
    balance {{ backend.balance | default('roundrobin') }}
    {% for server in backend.servers %}
    server {{ server.name }} {{ server.address }}:{{ server.port }} check {{ server.additional_options | default('') }}
    {% endfor %}
{% endfor %}